.calculator-container {
  margin: auto;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.calculator-display {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.calculator-display input {
  width: 100%;
  height: 50px;
  border: none;
  font-size: 24px;
  text-align: right;
}

.calculator-row {
  display: flex;
  justify-content: space-between;
}

.calculator-button {
  width: 20%;
  height: 50%;
  border: none;
  border-radius: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  color: #1e88e5;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.calculator-button:hover {
  background-color: #f2f2f2;
}

.calculator-button:active {
  background-color: #e6e6e6;
  transform: scale(0.95);
}

.calculator-button:focus {
  outline: none;
  box-shadow: 0 0 3px #1e88e5;
}

.clear {
  width: 145px;
}
