.calendar-container {
  display: inline-block;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: transparent;
}

.calendar-header button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.calendar-header button:hover {
  color: #007bff;
}

.calendar-header h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1px;
  background-color: transparent;
  padding: 10px;
}

.calendar-day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 16px;
  transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;

}

.calendar-day:hover {
  transform: scale(1.5);
  font-weight: 700;
  cursor: pointer;
}

.calendar-day.active {
  background-color: #007bff;
  color: #fff;
}

.calendar-day.today {
  background-color: #e8f0fe;
}

.calendar-day.empty {
  background-color: transparent;
}

.calendar-day-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 14px;
  background-color: transparent;
  text-align: center;
}

@media (max-width: 768px) {
  .calendar-body {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

@media (max-width: 576px) {
  .calendar-day {
    font-size: 14px;
  }

  .calendar-day-header {
    font-size: 12px;
  }
}
